<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        link(rel="stylesheet", href="../../static/css/materialize.css")
        link(rel="stylesheet", href="../../static/css/styles.css")
    body.page-tab-categorias
        header
            nav.nav-principal
                .nav-wrapper
                    a(href="").menu.left
                        i.material-icons.
                            menu
                    a(href="#!").left.cnt-logo
                        img(src="../../static/img/home_logo_luxury.png", width="150" alt="")
                    ul.right
                        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        .cnt-tab
            .row
                .col.s6
                    a(href="").
                        CATALOGO LUXURY CLUB
                .col.s6.right-align
                    a(href="").
                        EXPERIENCIAS LUXURY CLUB
        .cnt-categoria
            .row
                .col.s12.destacado
                    h3.
                        Destacado de la Semana
                .col.s12.categoria(style="background-image: url(../../static/img/catalogo_vinos.jpg)")
                    h3.
                        Vinos y Espumantes

        script(src="../../static/js/jquery-2.2.0.min.js")
        script(src="../../static/js/materialize.js")
