<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="../../static/css/materialize.css")
		link(rel="stylesheet", href="../../static/css/index.css")


	body
		.container
			.opcion#catalogo

				.logo
					figure
						img(src="../../static/img/home_logo_luxury.png", width="150" alt="")
				.capa-texto
					.texto
						h2.title.
							Catalogo Luxury Club
						p.
							Producto ipsum dolor sit amet, crenear toi
							reonsectetur adipiscing elit.

			.opcion#experiencia
				.capa-texto
					.texto
						h2.title.
							Experiencias Luxury Club
						p.
							Producto ipsum dolor sit amet, crenear toi
							reonsectetur adipiscing elit.

