@import 'fonts'
//colores
c-celeste = #0A6EBD
c-azul = #00407E
c-negro = #000000
c-plomo = #2F2F2F
c-plomo-oscuro = #1c2833
c-plomo-claro = #ababab
c-blanco = #fff
//fuente

lato = 'Lato', sans-serif;
open-san = 'Open Sans', sans-serif;
//clases generales

// header

.page-tab-categorias
    .nav-principal
        background c-azul
        .menu
            padding 0px 10px
        .cnt-logo
            img
                margin-left 5px
                display block
                padding 8px 0px

    .cnt-tab
        padding-top 15px
        background c-azul
        padding-bottom 15px
        .row
            margin-bottom 0px
            background c-azul

            a
                font-size 14px
                color c-plomo-claro
    .cnt-categoria
        h3
            padding 40px 0px
            color white
            font-family lato
            font-size 18px
            text-shadow 2px 2px 4px #000
        .destacado
            background-image url('../img/categoria_destacada.png')
            background-size cover
            h3
                text-align right
        .categoria
            background-size cover