<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title><link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/materialize.css"/>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
  </head>
  <body class="page-tab-categorias">
    <header>
      <nav class="nav-principal">
        <div class="nav-wrapper"><a href="" class="menu left"><i class="material-icons">menu</i></a><a href="#!" class="left cnt-logo"><img src="../../static/img/home_logo_luxury.png" width="150" alt=""/></a>
          <ul class="right"><li><a href="sass.html"><i class="material-icons">search</i></a></li></ul>
        </div>
      </nav>
    </header>
    <div class="cnt-tab">
      <div class="row">
        <div class="col s6"><a href="">CATALOGO LUXURY CLUB</a></div>
        <div class="col s6"><a href="">EXPERIENCIAS LUXURY CLUB</a></div>
      </div>
    </div>
    <script src="../../static/js/jquery-2.2.0.min.js"></script>
    <script src="../../static/js/materialize.js"></script>
  </body>
</html>