<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/materialize.css"/>
    <link rel="stylesheet" href="../../static/css/index.css"/>
  </head>
  <body>
    <div class="container">
      <div id="catalogo" class="opcion">
        <div class="logo">
          <figure><img src="../../static/img/home_logo_luxury.png" width="150" alt=""/></figure>
        </div>
        <div class="capa-texto">
          <div class="texto">
            <h2 class="title">Catalogo Luxury Club</h2>
            <p>
              Producto ipsum dolor sit amet, crenear toi
              reonsectetur adipiscing elit.
              
            </p>
          </div>
        </div>
      </div>
      <div id="experiencia" class="opcion">
        <div class="capa-texto">
          <div class="texto">
            <h2 class="title">Experiencias Luxury Club</h2>
            <p>
              Producto ipsum dolor sit amet, crenear toi
              reonsectetur adipiscing elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>